.description {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  .link {
    color: inherit;
  }

  img {
    display: block;
  }

  p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}